chromePath=YOUR_CHROME_PATH
account_id=YOUR_ACCOUNT_ID
pass=YOUR PASSWORD
room1=https://www.showroom-live.com/TARGET-ROOM1
room2=https://www.showroom-live.com/TARGET-ROOM2
room3=https://www.showroom-live.com/TARGET-ROOM3
